@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Roboto", sans-serif; 
 }

 /* NAVBAR CODE */
 .material-icons-outlined {
    padding: 10px;  
}    

.hover:hover {
    background-color: #f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

 .tooltip {
    position: relative;
} 

 .tooltip > .tooltip-text {
    position: absolute;
    left: 0; 
    top: 100%; 
    font-size: 0.78rem;
    background-color: #323232; 
    color: white; 
    opacity: 0.8;
    padding: 5px; 
    white-space: nowrap; 
    border-radius: 5px; 
    visibility: hidden; 
    z-index: 1; 
}    

.tooltip:hover > .tooltip-text {
    visibility: visible;
}  
   
 nav {
     display: flex; 
     justify-content: space-between;
     align-items: center; 
     height: 64px;
     border-bottom: 1px solid #dadce0; 
     padding: 8px; 
     color: #5f6368;  
 }  

 nav > .logo-area {
     display: flex;
     align-items: center; 
 }

 nav > .logo-area > .logo-text {
     font-size: 1.2rem; 
 }

 nav > .search-area {
     display: flex; 
     align-items: center; 
    background-color: #f1f3f4;
    width: 692px; 
    height: 48px; 
    border-radius: 8px; 
}  
 
 nav > .search-area > input {
     background-color: #f1f3f4;
     border: none; 
     height: 100%; 
     width: 95%; 
     font-size: 1rem; 
     margin-left: 10px; 
 }    

 nav > .search-area > input:focus {
     outline: none; 
 }

 nav > .search-area > span {
     margin-left: 0 10px;  
 }    
 
nav > .settings-area { 
    display: flex;
} 

nav > .profile-actions-area {
    display: flex; 
} 

/* MAINBODY CODE */

/* SIDEBAR CODE */
main > .sidebar  {
    position: fixed;
    left: 0;
    top: 64px; 
    display: flex;
    flex-direction: column;
    color: #5f6368;  
    width: 80px; 
    overflow-x: hidden;
    transition: 0.8s; 
    height: 100%; 
}    

main > .sidebar-hover{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    background-color: white;
}
 

  
main > .sidebar > .sidebar-item {
    padding: 3px 0; 
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;    
}
  
main > .sidebar > .sidebar-item > .active {
    background-color: #fef0c3;
    border-radius: 50%;
    color: black;
}  

main > .sidebar > .sidebar-item >.active:hover {
   background-color: #fef0c3; 
}  

main > .sidebar > .sidebar-item > .sidebar-text {
    color: black;
    font-size: 0.9rem;
    margin-left: 20px;
    width: 250px;
}   

.sidebar-item .material-icons-outlined {
    margin-left: 18px;
} 

main > .sidebar > .sidebar-item:nth-child(1) {
    margin-top: 5px;
}  

.sidebar-item:hover {
    background-color: #f1f3f4;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;  
}

.sidebar-active-item {
    background-color: #fef0c3;  
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;  
}

.sidebar-active-item:hover { 
    background-color: #fef0c3;  
}
 

  
/* FORM-CONTAINER */

main > .form-container {
    background-color: #fff;  
    max-width: 598px; 
    margin: 32px auto;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border: 1px solid #e0e1e0;
    border-radius: 8px; 
}    
   
main > .form-container > form {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    color: #5f6368;
}  

main > .form-container > form > .note-title {
    border: none;
    outline: none;
    font-size: 1rem;
    height: 100%;
    padding: 10px; 
    padding-left: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    width: 100%; 
}   
   
main > .form-container > form > .note-text {
    border: none;
    outline: none;  
    font-size: 1rem;
    height: 100%;
    padding: 10px; 
    padding-left: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}    

main > .form-container > form > .form-actions {
    display: flex; 
}
 
/* SECONDARY FORM CONTAINER */
.active-form {
    display: none;  
}  

.active-form > .form{ 
    display: flex;  
    flex-direction: column; 
    width: 100%;
    padding: 10px; 
}  

.active-form > .form > .form-actions > .icons{ 
    display: flex; 
}   
  
.active-form > .form > .form-actions{ 
    display: flex;
    justify-content: space-between; 
    width: 100%;  
    margin-top: 5px; 
}    

.active-form > .form > .form-actions > .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem; 
}    

.small-icon {
    color: black;
    font-size: 1.1rem;
}    

/* NOTES FORM */

main > .notes {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 0 50px;
}    
 
main > .notes > .note {
    background-color: white; 
    width: 240px; 
    margin: 10px; 
    border: 1px solid #e0e1e0;
    border-radius: 8px;
    position: relative; 
    cursor: pointer; 
}    

main > .notes > .note:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%); 
}
 
main > .notes > .note > .check-circle{
    position: absolute;
    left: -12px; 
    top: -10px; 
    visibility: hidden; 
}    

main > .notes > .note > .title {
    width: 100%;
    margin: 15px 0 0 15px; 
}  

main > .notes > .note > .text {
    width: 100%;
    margin: 10px 0 0 15px; 
}    
 
main > .notes > .note > .note-footer > .icons {
    display: flex;  
    margin-top: 15px; 
    padding: 0;
    justify-content: center; 
}   

main > .notes > .note > .note-footer > .icons > .tooltip > .material-icons-outlined {
    color: #5f6368; 
}   

/* MODAL CODE */

/* MODAL CONTENT */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  
  .modal-content {
    width: 589px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .open-modal {
    visibility: visible;
  } 

 
   

  

 

  
 
 
